# Visual Studio / Directorios de Compilación
.vs/
Debug/
Release/
x64/
x86/
build/
bld/
[Oo]bj/
[Oo]ut/

# Archivos temporales y de caché
*.user
*.suo
*.db
*.opendb
*.VC.db
*.pdb
*.idb
*.ilk
*.tlog/
*.log
*.iobj
*.ipdb
*.ipch
*.glb

# Binarios generados
*.exe
